actionlint           1.6.8
direnv               2.31.0
editorconfig-checker 2.6.0
gitleaks             8.5.1
jq                   1.6
just                 0.10.7
lefthook             0.7.7
nodejs               20.0.0
shellcheck           0.8.0
shfmt                3.4.3
vale                 2.29.7
watchexec            1.20.4
