actionlint           1.7.7
editorconfig-checker 3.2.1
gitleaks             8.24.3
jq                   1.6
just                 1.40.0
lefthook             0.7.7
nodejs               22.14.0
shellcheck           0.10.0
shfmt                3.11.0
typos                1.31.1
vale                 3.4.1
