actionlint           1.7.7
editorconfig-checker 3.2.0
gitleaks             8.23.3
jq                   1.6
just                 1.39.0
lefthook             0.7.7
nodejs               22.13.1
shellcheck           0.10.0
shfmt                3.10.0
typos                1.29.5
vale                 3.4.1
