aws-vault      7.2.0
awscli         2.31.8
checkov        3.2.473
conftest       0.62.0
gopass         1.12.8
infracost      0.10.30
terraform      1.13.3
terraform-docs 0.20.0
terraform-ls   0.26.0
terragrunt     0.88.1
terrascan      1.13.2
tflint         0.59.1
trivy          0.67.0
