aws-vault 6.6.1
awscli 2.4.29
checkov 2.0.1230
conftest 0.30.0
driftctl v0.24.0
gopass 1.12.8
infracost 0.9.19
terraform 1.1.9
terraform-docs 0.16.0
terraform-ls 0.26.0
terragrunt 0.36.12
terrascan 1.13.2
tflint 0.34.1
trivy 0.24.4
