aws-vault 6.6.1
awscli 2.13.0
checkov 2.3.324
conftest v0.30.0
driftctl v0.24.0
gopass 1.12.8
infracost 0.9.19
terraform 1.5.3
terraform-docs 0.16.0
terraform-ls 0.26.0
terragrunt 0.48.1
terrascan 1.13.2
tflint 0.47.0
trivy 0.43.1
